language: ruby
cache: bundler
sudo: false
rvm:
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.3.0
  - 2.4.0
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
script: 'bundle exec rspec'
notifications:
  email:
    - false
